@font-face {
    font-family: "Bitter";
    font-style: normal;
    font-weight: 400;
    src: local("Bitter-Regular"), url("http://themes.googleusercontent.com/static/fonts/bitter/v5/B2Nuzzqgk0xdMJ132boli-vvDin1pK8aKteLpeZ5c0A.woff") format("woff");
}
@font-face {
    font-family: "Bitter";
    font-style: normal;
    font-weight: 700;
    src: local("Bitter-Bold"), url("http://themes.googleusercontent.com/static/fonts/bitter/v5/JGVZEP92dXgoQBG1CnQcfLO3LdcAZYWl9Si6vvxL-qU.woff") format("woff");
}
@font-face {
    font-family: "Cookie";
    font-style: normal;
    font-weight: 400;
    src: local("Cookie-Regular"), url("http://themes.googleusercontent.com/static/fonts/cookie/v5/CytOAGPO6GUb8gQ4_bMS1OvvDin1pK8aKteLpeZ5c0A.woff") format("woff");
}
@font-face {
    font-family: "Droid Serif";
    font-style: normal;
    font-weight: 700;
    src: local("Droid Serif Bold"), local("DroidSerif-Bold"), url("http://themes.googleusercontent.com/static/fonts/droidserif/v4/QQt14e8dY39u-eYBZmppwRbnBKKEOwRKgsHDreGcocg.woff") format("woff");
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: local("Lato Regular"), local("Lato-Regular"), url("http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff") format("woff");
}
@font-face {
    font-family: "Lobster Two";
    font-style: normal;
    font-weight: 400;
    src: local("Lobster Two"), local("LobsterTwo"), url("http://themes.googleusercontent.com/static/fonts/lobstertwo/v5/Law3VVulBOoxyKPkrNsAaLrIa-7acMAeDBVuclsi6Gc.woff") format("woff");
}
@font-face {
    font-family: "Lobster Two";
    font-style: italic;
    font-weight: 400;
    src: local("Lobster Two Italic"), local("LobsterTwo-Italic"), url("http://themes.googleusercontent.com/static/fonts/lobstertwo/v5/Ul_16MSbfayQv1I4QhLEoIo3ZslTYfJv0R05CazkwN8.woff") format("woff");
}
@font-face {
    font-family: "Montserrat Subrayada";
    font-style: normal;
    font-weight: 400;
    src: local("MontserratSubrayada-Regular"), url("http://themes.googleusercontent.com/static/fonts/montserratsubrayada/v2/nzoCWCz0e9c7Mr2Gl8bbgnM5um9cNcnX2RvI2JJMcvr3rGVtsTkPsbDajuO5ueQw.woff") format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTb3hpw3pgy2gAi-Ip7WPMi0.woff") format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/wMws1cEtxWZc6AZZIpiqWALUuEpTyoUstqEm5AMlJo4.woff") format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSr3hpw3pgy2gAi-Ip7WPMi0.woff") format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzL3hpw3pgy2gAi-Ip7WPMi0.woff") format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/EInbV5DfGHOiMmvb1Xr-hr3hpw3pgy2gAi-Ip7WPMi0.woff") format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxrMceF-wWi3rV7g1_WXZh1k.woff") format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxiXIwCIIu6QKBvrtc7ntuuI.woff") format("woff");
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxuBlR7hVfVEIC9TwMGFq8_Q.woff") format("woff");
}
@font-face {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Cond Light"), local("OpenSans-CondensedLight"), url("http://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/gk5FxslNkTTHtojXrkp-xPQd3qlve4PL-Wb1z1nySP33rGVtsTkPsbDajuO5ueQw.woff") format("woff");
}
@font-face {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url("http://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/gk5FxslNkTTHtojXrkp-xAWbujuWSphZZXcg2BmZebf3rGVtsTkPsbDajuO5ueQw.woff") format("woff");
}
@font-face {
    font-family: "Open Sans Condensed";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Cond Light Italic"), local("OpenSans-CondensedLightItalic"), url("http://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/jIXlqT1WKafUSwj6s9AzV0GzrMQnF9z4_ED8G-3lsT3r7w4p9aSvGirXi6XmeXNA.woff") format("woff");
}
@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 300;
    src: local("Oswald Light"), local("Oswald-Light"), url("http://themes.googleusercontent.com/static/fonts/oswald/v8/l1cOQ90roY9yC7voEhngDLO3LdcAZYWl9Si6vvxL-qU.woff") format("woff");
}
@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    src: local("Oswald Regular"), local("Oswald-Regular"), url("http://themes.googleusercontent.com/static/fonts/oswald/v8/qs_6LdoYjCitupC9judWT-vvDin1pK8aKteLpeZ5c0A.woff") format("woff");
}
@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    src: local("Oswald Bold"), local("Oswald-Bold"), url("http://themes.googleusercontent.com/static/fonts/oswald/v8/dI-qzxlKVQA6TUC5RKSb37O3LdcAZYWl9Si6vvxL-qU.woff") format("woff");
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: local("PT Sans"), local("PTSans-Regular"), url("http://themes.googleusercontent.com/static/fonts/ptsans/v6/D7F3bIyVvgEwAiTjRyhWnKCWcynf_cDxXwCLxiixG1c.woff") format("woff");
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: local("PT Sans Bold"), local("PTSans-Bold"), url("http://themes.googleusercontent.com/static/fonts/ptsans/v6/HXiERDIZdwFzjXlbcMq7XHYhjbSpvc47ee6xR_80Hnw.woff") format("woff");
}
@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url("http://themes.googleusercontent.com/static/fonts/ptsans/v6/lILlYDvubYemzYzN7GbLkL3hpw3pgy2gAi-Ip7WPMi0.woff") format("woff");
}
@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 400;
    src: local("PT Sans Narrow"), local("PTSans-Narrow"), url("http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v5/UyYrYy3ltEffJV9QueSi4aKMDwIKrnRjMtEm_ZQuMjU.woff") format("woff");
}
@font-face {
    font-family: "Pontano Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Pontano Sans"), local("PontanoSans-Regular"), url("http://themes.googleusercontent.com/static/fonts/pontanosans/v2/gTHiwyxi6S7iiHpqAoiE3OY5mlVXtdNkpsMpKkrDXP4.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Thin"), local("Roboto-Thin"), url("http://themes.googleusercontent.com/static/fonts/roboto/v11/h4pAVg1s_nodhAy1Tz6NkevvDin1pK8aKteLpeZ5c0A.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url("http://themes.googleusercontent.com/static/fonts/roboto/v11/wdhR8z_EejC7uAMUf1gPYgLUuEpTyoUstqEm5AMlJo4.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Regular"), local("Roboto-Regular"), url("http://themes.googleusercontent.com/static/fonts/roboto/v11/xZQOmYg4x3YaWkTJi1kErvesZW2xOQ-xsNqO47m55DA.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url("http://themes.googleusercontent.com/static/fonts/roboto/v11/GqZzxBO7MNkGbGZuh9cULALUuEpTyoUstqEm5AMlJo4.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 100;
    src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url("http://themes.googleusercontent.com/static/fonts/roboto/v11/jB4HYzUnEmLtjz-UHQe60XYhjbSpvc47ee6xR_80Hnw.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("http://themes.googleusercontent.com/static/fonts/roboto/v11/iE8HhaRzdhPxC93dOdA057O3LdcAZYWl9Si6vvxL-qU.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: local("Roboto Italic"), local("Roboto-Italic"), url("http://themes.googleusercontent.com/static/fonts/roboto/v11/bEwwINL5cD0g4l_0YD4u7-vvDin1pK8aKteLpeZ5c0A.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("http://themes.googleusercontent.com/static/fonts/roboto/v11/daIfzbEw-lbjMyv4rMUUTrO3LdcAZYWl9Si6vvxL-qU.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 700;
    src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("http://themes.googleusercontent.com/static/fonts/roboto/v11/owYYXKukxFDFjr0ZO8NXh7O3LdcAZYWl9Si6vvxL-qU.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 900;
    src: local("Roboto #000000 Italic"), local("Roboto-BlackItalic"), url("http://themes.googleusercontent.com/static/fonts/roboto/v11/b9PWBSMHrT2zM5FgUdtu0bO3LdcAZYWl9Si6vvxL-qU.woff") format("woff");
}
@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url("http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/b9QBgL0iMZfDSpmcXcE8nH6GPO4TjrCsXWY4PSfraSY.woff") format("woff");
}
@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Condensed Regular"), local("RobotoCondensed-Regular"), url("http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/Zd2E9abXLFGSr9G3YK2MsEYkBUapGhkWjcxWm3_vZWA.woff") format("woff");
}
@font-face {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url("http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/b9QBgL0iMZfDSpmcXcE8nAXW-UgdjZ3YrDta4-p32EE.woff") format("woff");
}
@font-face {
    font-family: "Roboto Condensed";
    font-style: italic;
    font-weight: 300;
    src: local("Roboto Condensed Light Italic"), local("RobotoCondensed-LightItalic"), url("http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/mg0cGfGRUERshzBlvqxeAL_0DpHDa0qevVXsivaKxsI.woff") format("woff");
}
@font-face {
    font-family: "Roboto Condensed";
    font-style: italic;
    font-weight: 400;
    src: local("Roboto Condensed Italic"), local("RobotoCondensed-Italic"), url("http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/BP5K8ZAJv9qEbmuFp8RpJau6VQ0jQQbvSE8VA7z_fVA.woff") format("woff");
}
@font-face {
    font-family: "Roboto Condensed";
    font-style: italic;
    font-weight: 700;
    src: local("Roboto Condensed Bold Italic"), local("RobotoCondensed-BoldItalic"), url("http://themes.googleusercontent.com/static/fonts/robotocondensed/v9/mg0cGfGRUERshzBlvqxeAKyfWPSGaEIhFC6Y-MJ0oyw.woff") format("woff");
}
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url("http://themes.googleusercontent.com/static/fonts/robotoslab/v3/3__ulTNA7unv0UtplybPirO3LdcAZYWl9Si6vvxL-qU.woff") format("woff");
}
