/* @override 
	http://dev.laurentbirades.info/sites/all/themes/planeo/style.css?C
	http://dev.laurentbirades.info/sites/all/themes/planeo/style.css?a
	http://dev.laurentbirades.info/sites/all/themes/planeo/style.css?m
	http://dev.laurentbirades.info/sites/all/themes/planeo/style.css?y
	http://dev.laurentbirades.info/sites/all/themes/planeo/style.css?T
	http://dev.laurentbirades.info/sites/all/themes/planeo/style.css?c
	http://dev.laurentbirades.info/sites/all/themes/planeo/style.css?Y
	http://dev.laurentbirades.info/sites/all/themes/planeo/style.css?6
	http://dev.laurentbirades.info/sites/all/themes/planeo/style.css?2
	http://dev.laurentbirades.info/sites/all/themes/planeo/style.css?t
	http://dev.laurentbirades.info/sites/all/themes/planeo/style.css?F
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, input, select, textarea, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	line-height: 160%;
}

div.node-content.clear-block.prose p {
	margin-top: 14px;
	font-style: normal;
}

.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6, .prose p, .prose ul, .prose ol, .prose pre, .prose div.codeblock, .prose blockquote {
	margin: 0 0 0px;
}

.resizable-textarea {
	width: 100%;
}

table {
	border-width: 0px;
}

.form-layout-default {
	background: url("") repeat-y scroll 65% 0 rgba(0, 0, 0, 0);
}

.form-item label {
  color: #808080;
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 5px 0 10px;
    text-transform: uppercase;
}

#comment-form label  {
	
	font-weight: 600;
}



/* @group Override core */

#content dl.multiselect select {
	background: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' width=\'50px\' height=\'50px\'><polyline points=\'46.139,15.518 25.166,36.49 4.193,15.519\'/></svg>") no-repeat scroll right 10px top 7px / 16px 16px #3498DB;
	transition: all 0.3s ease 0s;
	padding: 4px 12px;
	background-color: #BDC3C7;
	font-size: 15px;
	color: white;
	line-height: 1.467;
	height: 32px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	border-width: 0;
	margin: 3px;
}

/* @end */

/* @group Override of style.css of Rubik. */

/**
 * Override of style.css of Rubik. Contains styles for major page wrapping
 * elements. For core/canvas elements, see ginkgo.css.
 */

body.tao,
input,
textarea,
select {
	font-family: Roboto;
}

body.tao {
	background: #fff;
	color: #222;
}

a {
	color:#427FED;
	text-decoration: none;
}


.limiter {
	padding: 0px 20px;
	height: 30px;
}

#page .limiter {
	max-width: 1280px;
}

/* @end */

/* @group Skinnable elements */

/**
 * Skinnable elements =================================================
 */

#global,
#global a.logo,
#global .breadcrumb span.link-0 a,
#global .breadcrumb span.divider,
#global .breadcrumb span.space a,
#navigation,
#features-menu li,
#features-menu li a {
	background-image: url(images/sprite_skin.png);
}

/* @end */

/* @group Default designkit colors */

/**
 * Default designkit colors ===========================================
 */

.atrium-welcome-links a:hover,
.atrium-welcome-links a:focus,
.dropdown-blocks .block-toggle ul.links li a:hover,
.dropdown-blocks .block-toggle ul.links li a:focus,
.dropdown-blocks .block-toggle .item-list li a:hover,
.dropdown-blocks .block-toggle .item-list li a:focus,
.pager li.pager-current,
.more-link a:hover,
#global,
#navigation {
	background-color: #44aa55;
}

body #space-tools .block-title {
	background-color: #2f773b;
}

body #header .block-widget .block-content,
body #header .block .block-title {
	background-color: #399048;
}

body .page-region .block .block-title {
	border-color: #bed2c1;
	border-bottom-color: #b0c5b4;
	background-color: #bebebe;
}

.decay-10 .comment-title {
	border-color: #eeeeee;
}

.decay-9 .comment-title {
	border-color: #dde7de;
}

.decay-8 .comment-title {
	border-color: #cce0cf;
}

.decay-7 .comment-title {
	border-color: #bbd9c0;
}

.decay-6 .comment-title {
	border-color: #aad2b0;
}

.decay-5 .comment-title {
	border-color: #99cca1;
}

.decay-4 .comment-title {
	border-color: #88c592;
}

.decay-3 .comment-title {
	border-color: #77be82;
}

.decay-2 .comment-title {
	border-color: #66b773;
}

.decay-1 .comment-title {
	border-color: #55b064;
}

.decay-0 .comment-title {
	border-color: #44aa55;
}

/* @end */

/* @group Rounded" elements */

/**
 * "Rounded" elements =================================================
 */

.block {
	border-radius: 0px 0px 2px 2px;
	-webkit-border-radius: 0px 0px 2px 2px;
	-moz-border-radius: 2px;
	background: white url("") ;
 border-style: solid;
    border-width: 1px 1px 2px;
    border-color: #D8D8D8;
}

.block,
.item-list,
.help-items ul,
.fieldset,
.form-item,
.admin-list,
.node-type-list,
.admin-panel,
.box-title,
.compact-link a,
.confirmation ul,
form .buttons,
input.teaser-button,
input.form-submit {
	border-radius: 0px 0px 2px 2px;
	-webkit-border-radius: 0px 0px 2px 2px;
	-moz-border-radius: 2px;
	background: white url("") ;
 border-style: solid;
    border-width: 1px 1px 1px;
    border-color: #D8D8D8;
}
  
  
  
    
    .form-layout-default  .buttons {
    margin: 0 0 10px;
	border-width: 0;
	background-color: rgba(255,255,255,0);
}

.block {
	background: #EEEEEE;
}

input.teaser-button,
input.form-submit {
	background: url("") repeat-x scroll 0 -41px #666666;
	color: white;
}

.item-list h3,
.block .block-title,
.admin-panel h3,
.fieldset-title,
.collapsible .fieldset-title a {
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius-top-left: 0px;
	-webkit-border-radius-top-right: 0px;
}

.collapsible .fieldset-title {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.collapsed .fieldset-title a {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}



/* @end */

/* @group "Popped" elements */

/**
 * "Popped" elements ==================================================
 */

input.teaser-button,
input.form-submit {
	-moz-box-shadow: #ddd 0px 0px 0px;
	-webkit-box-shadow: #ddd 0px 0px 0px;
	margin-top: 5px;
	margin-left: 0px;
}

h2.comment-title a {
	padding: 6px;
	color: white;
	font-size: 14px;
}

/* @end */

/* @group "Embossed" elements */

/**
 * "Embossed" elements ================================================
 */

table th {
	text-shadow: #fff 0px 0px 0px;
}

/* @end */

/* @group Global navbar */

/**
 * Global navbar  =====================================================
 */

#global {
	background-position: 0px 0px;
	background-repeat: repeat-x;
	height: 40px;
	position: relative;
	/* IE7 z-index stacking: #global 3, #navigation 2, #page-tools 1, all others 0. */
  z-index: 3;
}

#global a.logo {
background-position: 105% -440px;
    background-repeat: no-repeat;
    display: block;
    font-size: 0;
    height: 33px;
    margin-left: 0;
    margin-right: 110px;
    overflow: hidden;
    right: 20px;
    text-indent: -999px;
    width: 224px;}

/* @end */

/* @group Header blocks */

/**
 * Header blocks ======================================================
 */

#header {
	float: right;
    margin-top: 5px;
    padding-left: 0;
    padding-right: 0;
      width: 123px;
}


#header .block-widget .block-content,
#header .block-title {
	background: transparent;
	color: #fff;
	font-size: 11px;
	height: 30px;
	line-height: 30px;
	margin: 0px;
	padding-top: 0;
	padding-bottom: 0px;
	padding-left: 20px;
}

#header .block-widget a,
  #header .block-title a {
	color: #fff;
}

#header .block-widget a {
	font-weight: 300;
}

#header .block-widget .block-content,
  #header .block-toggle .block-title {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	background: transparent;
	font-size: 19px;
}

#header .block-toggle .toggle-active {
	background-color: #fff !important;
	color: #333 !important;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
}

#header .block-toggle .block-content {
	left: 0px;
	right: auto;
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
}

/* Account block */

body.logged-in #block-atrium-account .block-title {
	position: relative;
	padding-left: 35px;
	height: 30px;
	font-family: Oswald;
}

#block-atrium-account .block-title div.picture {
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	position: absolute;
	left: 0px;
	top: 0px;
}

#block-atrium-account .toggle-active div.picture {
	-moz-border-radius: 3px 0px 0px 0px;
	-webkit-border-radius: 3px 0px 0px 0px;
}

/* Breadcrumb */

#global .breadcrumb {
	   float: right;
    height: 30px;
    overflow: hidden;
    padding: 5px;
    position: absolute;
    right: 5px;
    top: 44px;}

#global .breadcrumb span,
  #global .breadcrumb span a {
	color: #fff;
	height: 30px;
	float: left;
	font-family: "Roboto Condensed";
	font-weight: 300;
}

#global .breadcrumb span.space a,
  #global .breadcrumb span.link-0 a,
  #global .breadcrumb span.divider {
	background-position: -20px -265px;
	background-repeat: no-repeat;
	text-indent: -999px;
	overflow: hidden;
	width: 20px;
}

#global .breadcrumb span.link-0 a {
	background-position: 0px -265px;
}

#global .breadcrumb span.space {
	padding-left: 9px;
}

#global .breadcrumb span.space a.private {
	background-position: -40px -265px;
	display:none;
}

#global .breadcrumb span.space a.public {
	background-position: -60px -265px;
}

/* @end */

/* @group Footer  */

/**
 * Footer ==============================================================
 */

#footer {
	border-top: 1px solid #ccc;
	font-weight: normal;
	font-size: 11px;
	padding: 19px 0px 20px;
	color: #999;
	display: none;
}

#footer a {
	color: #666;
}

#footer .footer-message {
	float: left;
}

#footer ul.links {
	float: right;
}

#footer ul.links a {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 0px 10px;
}

#footer ul.links a:hover {
	background: #fff;
}

/* @end */

/* @group Navigation */

/**
 * Navigation =========================================================
 */

#navigation {
	background-position: 0px -40px;
	background-repeat: repeat-x;
	position: relative;
	z-index: 2;
}

#navigation .limiter {
	padding-top: 4px;
	height: 40px;
}

#space-tools {
	position: fixed;
	right: 0px;
	top: 275px;
	width: 44px;
	bottom: 0;
}

#space-tools .block-widget,
#space-tools .block-widget a {
	font-size: 11px;
	color: #fff;
}

#space-tools .block-widget a {
	font-weight: bold;
}

#space-tools .block-title {
	color: #fff;
}

#space-tools .toggle-active {
	background-color: #fff !important;
	color: #333;
}

/* @end */

/* @group Features menu */

/**
 * Features menu ======================================================
 * Arguably the most complex portion of the theme.
 */

#features-menu {
	position: absolute;
	left: 20px;
	height: 50px;
}

#features-menu li {
	background-position: 0px 50px;
	background-repeat: no-repeat;
}

#features-menu li.active {
	border: 1px solid #fff;
	border-bottom: 0px;
	height: 39px;
	background-position: 0px -210px;
	background-repeat: repeat-x;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

#features-menu li a {
	color: #fff;
	position: relative;
	line-height: 30px;
	width: 30px;
	height: 30px;
	padding: 5px 10px;
	overflow: hidden;
	background-position: 0px -110px;
	background-repeat: no-repeat;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

#features-menu li a:hover {
	overflow: visible;
	background-position: 0px -160px;
	background-repeat: no-repeat;
}

#features-menu li.active a,
  #features-menu li.active a.active {
	padding: 4px 9px 5px;
	width: auto;
}

#features-menu li a span.label {
	width: 100px;
	position: absolute;
	top: -20px;
	left: -20px;
	line-height: 20px;
	white-space: nowrap;
	text-align: center;
	font-size: 11px;
	display: block;
}

#features-menu li a span.label span.count {
	display: block;
	position: absolute;
	left: 25px;
	top: 25px;
	background: #d42;
	padding: 0px 5px;
	line-height: 15px;
	font-size: 9px;
	font-weight: bold;
	color: #fff;
	text-shadow: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#features-menu li.active a span.label,
  #features-menu li.active a:hover span.label {
	display: block;
	width: auto;
	padding: 0px 5px 0px 10px;
	line-height: 40px;
	position: static;
	float: left;
	font-size: 16px;
	color: #333;
	text-shadow: #fff 0px 0px 0px;
}

#features-menu li.active a span.label span.count {
	left: 5px;
	top: 5px;
}

#features-menu li a span.icon {
	background: url(images/sprite_icons.png) 0px 0px no-repeat;
	display: block;
	height: 30px;
	width: 30px;
	float: left;
}

#features-menu li a.icon-blog span.icon {
	background-position: 0px -80px;
}

#features-menu li a.icon-notebook span.icon {
	background-position: -30px -80px;
}

#features-menu li a.icon-calendar span.icon {
	background-position: -60px -80px;
}

#features-menu li a.icon-casetracker span.icon {
	background-position: -90px -80px;
}

#features-menu li a.icon-dashboard span.icon {
	background-position: -120px -80px;
}

#features-menu li a.icon-og span.icon {
	background-position: -150px -80px;
}

#features-menu li a.icon-home span.icon {
	background-position: -180px -80px;
}

#features-menu li a.icon-members span.icon {
	background-position: -210px -81px;
}

#features-menu li a.icon-profile span.icon {
	background-position: -240px -80px;
}

#features-menu li a.icon-shoutbox span.icon {
	background-position: -240px -79px;
}

/* @end */

/* @group Feature mini-icons */

/**
 * Feature mini-icons =================================================
 */

span.spaces-feature {
	width: 20px;
	height: 22px;
	display: block;
	text-indent: -999px;
	overflow: hidden;
	background: url(images/sprite_icons.png) 20px 20px no-repeat;
}

span.feature-atrium_blog {
	background-position: 0px 100%;
}

span.feature-atrium_book {
	background-position: -20px 100%;
}

span.feature-atrium_calendar {
	background-position: -40px 100%;
}

span.feature-atrium_casetracker {
	background-position: -60px 100%;
}



span.feature-atrium_dashboard {
	background-position: -80px 100%;
}

span.feature-atrium_groups {
	background-position: -100px 100%;
}

span.feature-atrium_home {
	background-position: -120px 100%;
}

span.feature-atrium_members {
	background-position: -140px 100%;
}

span.feature-atrium_shoutbox {
	background-position: -160px 100%;
}

#block-atrium-admin_links span.icon {
	background: url(images/sprite_icons.png) -20px -400px no-repeat;
}

#block-atrium-admin_links .toggle-active span.icon {
	background-position: -20px -420px;
}

#block-atrium-create span.icon {
	background: url(images/sprite_icons.png) 0px -400px no-repeat;
}

#block-atrium-create .toggle-active span.icon {
	background-position: 0px -420px;
}

#block-atrium-search span.icon {
	background: url(images/sprite_icons.png) -40px -400px no-repeat;
}

#block-atrium-search .toggle-active span.icon {
	background-position: -40px -420px;
}

/* @end */

/* @group Error pages */

/**
 * Error pages ========================================================
 */

body.page-access-denied #page-header .limiter,
body.page-not-found #page-header .limiter {
	display: none;
}

body.page-access-denied .access-denied,
body.page-not-found .not-found {
	font-size: 32px;
	font-weight: 300;
	padding: 140px 480px 140px 50px;
	letter-spacing: -1px;
	line-height: 40px;
	min-height: 80px;
	background: url(images/404.png) 100% 50% no-repeat;
}

body.page-access-denied .access-denied {
	background-image: url(images/403.png);
}

/* @end */

/* @group Page tools */

/**
 * Page tools ========================================================
 */

#page-tools {
	background: #eee url(images/sprite_bleeds.png) 0px -360px repeat-x;
	height: 39px;
	border-bottom: 0px solid #ccc;
	position: relative;
	z-index: 1;
}

#page-tools .page-title,
  #page-tools .tabs {
	padding-top: 3px;
	position: absolute;
	left: 20px;
	font-family: Oswald;
}

#page-tools .context-links,
  #page-tools .dropdown-blocks {
	float: right;
}

#page-tools .page-title {
	font-size: 26px;
	font-weight: normal;
	line-height: 30px;
	text-shadow: #fff 0px 0px 0px;
}

#page-tools .page-title-hidden {
	text-indent: -999px;
	overflow: hidden;
}

#page-tools .page-title a.username {
	color: inherit;
	font-size: inherit;
	text-transform: none;
}

#page-tools .dropdown-blocks {
	height: 39px;
}

#page-tools .dropdown-blocks .block {
	padding: 0px;
}

#page-tools .dropdown-blocks .block-toggle .block-title {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border: 0px;
	border-left: 1px solid #ccc;
	text-shadow: #fff 0px 0px 0px;
	padding: 5px 20px 5px 28px;
	line-height: 30px;
	background: transparent;
}

#page-tools .dropdown-blocks .block-toggle .toggle-active {

	text-shadow: #444 0px 0px 0px;
	background: url(images/sprite_bleeds.png) 0px 100% repeat-x;
}

#page-tools .context-links {
	border-left: 0px solid #ccc;
	height: 36px;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 0px;
}

.buttons a,
  #page-tools .context-links a {
		border-radius: 13px;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("images/sprite_bleeds.png") repeat-x scroll 0 -400px #666666;
    border-color: #555555 #555555 #333333;
    border-image: none;
    border-style: solid;
    border-width: 0;
    color: #FFFFFF;
    font-size: 11px;
    height: 20px;
    margin-left: 5px;
    margin-top: 9px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 1px;
    text-shadow: 0 0 0 #444444;}

.buttons a {
	margin-right: 5px;
}

.buttons a:active,
    #page-tools .context-links a:active {
	background-position: 0px 100%;
	padding-top: 0;
}

#page-tools #help-toggler {
	background: url(images/sprite_base.png) 0px -30px no-repeat;
	height: 20px;
	width: 20px;
	text-indent: -999px;
	overflow: hidden;
	margin: 10px 0px 0px 10px;
	position: static;
	float: right;
}

#page-tools #help-toggler.toggle-active {
	background-position: -20px -30px;
}

/* @end */

/* @group Tabs */

/**
 * Tabs ===============================================================
 */

#page-tools .tabs ul.links {
	height: 35px;
	float: none;
	position: static;
}

#page-tools .tabs li a,
#page-tools .tabs li a:hover,
#page-tools .tabs li.active a,
#page-tools .tabs li a.active {
	color: #888;
	font-size: 13px;
	text-shadow: #fff 0px 0px 0px;
	padding: 5px 10px;
	margin-right: 1px;
	background: transparent;
}

#page-tools .tabs li a:hover {
	color: #333;
	background: #ddd;
	padding: 4px 9px 9px;
	border: 1px solid #ccc;
	border-color: #ccc #ddd #fff;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;

}

#page-tools .tabs li a:active {
	background: #ccc;
	border-color: #bbb #ccc #eee;
}

#page-tools .tabs li.active a,
  #page-tools .tabs li a.active {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #CCCCCC #DDDDDD;
    border-radius: 5px 5px 0 0;
    border-style: solid;
    border-width: 0;
    color: #333333;
    padding: 4px 9px 10px;
}

/* @end */

/**
 * Secondary tabs =====================================================
 */

/* @group Secondary tabs */

/* @end */

#secondary-tabs {
	background: #fff url(images/sprite_bleeds.png) 0px -360px repeat-x;
	padding: 5px 0px 4px;
	height: 20px;
	border-bottom: 1px solid #ccc;
}

#secondary-tabs a {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color: #999;
	padding: 0px 10px;
	font-size: 12px;
}

#secondary-tabs a:hover {
	color: #333;
		 border-radius: 5px;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#secondary-tabs li.active a,
  #secondary-tabs a.active {
	  background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC #DDDDDD;
    border-radius: 5px;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font-size: 12px;
}

#secondary-tabs  a:over,{
    font-size: 12px;
    	  background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC #DDDDDD;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font-size: 12px;
}




